.change::after{
    content: '';
    animation: cha 10s linear infinite;
    color: aqua;
    text-align: center;
    margin-top: 20px;
    text-shadow: 3px 3px 15px black;
    border: 2px solid black;
}

@keyframes cha {
    10%{
        content: "Kozhikode";
    }
    20%{
        content: "Malappuram";
    }
    30%{
        content: "Thrissur";
    }
    50%{
        content: "Kannur";
    }
    60%{
        content: "Idukki";
    }
    80%{
        content: "Kollam";
    }
    100%{
        content: "Kasarkode";
    }
}