
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin Sans', sans-serif;
}


/* main header section started */

header{
    /* width: 100%; */
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('kerala.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header nav{
    /* width: 100%; */
    height: 10vh;
    background: rgb(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}


header nav .logo h1{
    text-align: center;
    font-size: 170%;
    font-weight: bold;
}

header nav .menu{
    display: flex;
    justify-content: space-around;

}

header nav .menu a{
    /* width: 25%; */
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header nav .menu a:hover{
     color: #00b894;
}

header main{
    /* width: 100%; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color: rgb(252, 247, 247);
}

header main section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    
}

header main section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

header main section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

header main section a{
    padding: 12px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .3s ease;
}

header main section .button1{
    background: #fafffe;
    color: rgb(0, 0, 0);

}

header main section .button1:hover{
    background: #00b894;
    color: #fafffe;
    box-shadow: 2px 2px 10px black;
}

header main section .button2{
    background: #00b894;
    color: white;
    box-shadow: 2px 2px 10px black;
}

header main section .button2:hover{
    background: #fbfffe;
    color: #00b894;
}


header main section .change_contect::after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
    
}

@keyframes changetext{
    0%{content: "KOLLAM";}
    20%{content: "KOZHIKODE";}
    35%{content: "KANNUR";}
    60%{content: "PALAKKAD";}
    80%{content: "THRISSUR";}
    100%{content: "IDUKKI";}
}


/* main header section ended */


/* main menu section strated */



.entry{
    /* width: 100%; */
    height: 50vh;

}


.entry .box1{
    /* width: 100%; */
    height: 50vh;
    border: 0.050rem solid rgb(117, 255, 175);
    float: left;
    background: #00b894;
    word-wrap: break-word;
    overflow: hidden;
}

.entry .box2{
    /* width: 100%; */
    height: 50vh;
    border: 0.050rem solid rgb(117, 255, 175);
    float: left;
    background: #00b894;
    word-wrap: break-word;
    overflow: hidden;
}

.entry .box3{
    /* width: 100%; */
    height: 50vh;
    border: 0.050rem solid rgb(117, 255, 175);
    float: left;
    background: #00b894;
    word-wrap: break-word;
    overflow: hidden;
}


.entry .box1 .sub1{
    width: 40px;
    height: 40px;
    background: white;
    margin: 70px;
    border-radius: 50%;
    float: left;
}

.entry .box2 .sub2{
    width: 40px;
    height: 40px;
    background: white;
    margin: 70px;
    border-radius: 50%;
    float: left;
}

.entry .box3 .sub3{
    width: 40px;
    height: 40px;
    background: white;
    margin: 70px;
    border-radius: 50%;
    float: left;
}

.entry .box1 .sub1 i{
    color: #00b894;
    margin: 8px;
    text-align: center;
    font-size: 30px;
}

.entry .box2 .sub2 i{
    color: #00b894;
    padding-top: 5px;
    padding-left: 2px;
    text-align: center;
    font-size: 28px;
}

.entry .box3 .sub3 i{
    color: #00b894;
    padding-left: 5px;
    padding-top: 6px;
    text-align: center;
    font-size: 28px;
}

.entry .box1 h4{
    margin-top: 110px;
    font-size: 20px;
    font-family:  'Signika Negative', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.entry .box2 h4{
    margin-top: 110px;
    font-size: 20px;
    font-family:  'Signika Negative', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.entry .box3 h4{
    margin-top: 110px;
    font-size: 20px;
    font-family:  'Signika Negative', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.entry .box1 #arrow{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fafffe;
    text-shadow: 2px 2px 6px black;
}

.entry .box2 #arrow{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fafffe;
    text-shadow: 2px 2px 6px black;
}

.entry .box3 #arrow{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fafffe;
    text-shadow: 2px 2px 6px black;
}

.entry .box1 ul li{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: 2px 2px 6px black;
    color: #fafffe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.entry .box2 ul li{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: 2px 2px 6px black;
    color: #fafffe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.entry  .box3 ul li{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: 2px 2px 6px black;
    color: #fafffe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* main menu section ended */

/* program section started */

.gallery{
    background: red;
    height: 90vh;
    border: 2px solid black;
    align-items: center;
    text-align: center;
    background: #47c183;
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('https://wallpaperaccess.com/full/1378156.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;     
    overflow: hidden;
}

.gallery .cod{
    padding: 0%;
    margin: 1%;
    width: 20%;
    height: 30%;
    border: 2px solid rgb(80, 151, 112);
    box-shadow: 6px 4px 10px rgb(0, 0, 0);
    border-bottom-left-radius: 90px;
    border-top-right-radius: 90px;
    text-align: center;
    transition: 1.5s;

}

.gallery .cod:hover{
    transition: 2.5s;
    border-radius: 0px;
    width: 30%;
    height: 30%;
    box-shadow: 12px 8px 20px black;
    border: 2px solid rgb(124, 179, 149);
}

.gallery .cod #tex1,#tex2,#tex3,#tex4,#tex5,#tex6,#tex7,#tex8{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    font-weight: bold;
    margin-top: 13vh;
    color: #00b894;
    text-shadow: 4px 4px 6px black;
    word-wrap: break-word;
}



.gallery #co1{
    background-image: url("https://www.tourmyindia.com/states/kerala/image/kerala-tourism.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co1:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://www.tourmyindia.com/states/kerala/image/kerala-tourism.webp");

}


.gallery #co2{
    background-image: url("https://miro.medium.com/max/1280/0*JYT6v0Xd7i-x8typ.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co2:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://miro.medium.com/max/1280/0*JYT6v0Xd7i-x8typ.png");
}


.gallery #co3{
    background-image: url("https://th-i.thgim.com/public/incoming/piu7x5/article65647235.ece/alternates/FREE_1200/IMG_25tv-Aranmula_boat_r_4_1_DR8TNFBC.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co3:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://th-i.thgim.com/public/incoming/piu7x5/article65647235.ece/alternates/FREE_1200/IMG_25tv-Aranmula_boat_r_4_1_DR8TNFBC.jpg");
}


.gallery #co4{
    background-image: url("https://www.india.com/wp-content/uploads/2018/08/Thrissur-Pooram-Main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co4:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://www.india.com/wp-content/uploads/2018/08/Thrissur-Pooram-Main.jpg");
}


.gallery #co5{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-m_-v6aHB52DQccm0afCCLm7q6Mhy5APONA&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co5:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-m_-v6aHB52DQccm0afCCLm7q6Mhy5APONA&usqp=CAU");
}


.gallery #co6{
    background-image: url("https://assets.traveltriangle.com/blog/wp-content/uploads/2017/10/146.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co6:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://assets.traveltriangle.com/blog/wp-content/uploads/2017/10/146.jpg");
}


.gallery #co7{
    background-image: url("https://lh4.googleusercontent.com/VdAjQa4OUFv7PrHVWkckkngK39xQEqjJ50XaoPFezmaHDyOTJiSVRXST5x8DJ-KJ_N130juxFxx5fTrJHuLPs4dy5dfT3vRhRp1xhXBVw4xIvMcy_3Ej7dED39syQK1klbARevB-");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co7:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://lh4.googleusercontent.com/VdAjQa4OUFv7PrHVWkckkngK39xQEqjJ50XaoPFezmaHDyOTJiSVRXST5x8DJ-KJ_N130juxFxx5fTrJHuLPs4dy5dfT3vRhRp1xhXBVw4xIvMcy_3Ej7dED39syQK1klbARevB-");
}


.gallery #co8{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5b37b71f506fbe848e3351a3/1589634419314-ZPI5HNL4T5XURN5FISW7/kapil-beach-kollam-kerala-india.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery #co8:hover{
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("https://images.squarespace-cdn.com/content/v1/5b37b71f506fbe848e3351a3/1589634419314-ZPI5HNL4T5XURN5FISW7/kapil-beach-kollam-kerala-india.jpg");
}


.gallery h1{
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 3px 2px rgb(95, 95, 95);
    color: #b4e9cf;
    text-decoration: underline 6px black;
}

/* program section ended */
 

/* company details section started */



.detail{
    background: yellow;
    height: 70vh;
}

.detail .col-12{
    background: tan;
    border: 2px solid black;
    height: 30%;
    text-align: center;
}

.detail .col-4{
    background: darkblue;
    border: 2px solid white;
    height: 70%;
}

.detail .col-12 h3{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin-top: 8vh;
}

/* company details section started */