
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url('kerala.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    height: 10vh;
    background: rgb(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;

}


header nav .logo h1{
    text-align: center;
    font-size: 170%;
}

header nav .menu{
    display: flex;
    justify-content: space-around;

}

nav .menu a{
    /* width: 25%; */
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:hover{
     color: #00b894;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    color: rgb(252, 247, 247);
}

section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 600;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .3s ease;
}

section .button1{
    background: #fafffe;
    color: rgb(0, 0, 0);

}

.button1:hover{
    background: #00b894;
    color: #fafffe;
    box-shadow: 2px 2px 10px black;
}


section .button2{
    background: #00b894;
    color: white;
    box-shadow: 2px 2px 10px black;
}

.button2:hover{
    background: #fbfffe;
    color: #00b894;
}


.change_contect::after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
    
}

@keyframes changetext{
    0%{content: "KOLLAM";}
    20%{content: "KOZHIKODE";}
    35%{content: "KANNUR";}
    60%{content: "PALAKKAD";}
    80%{content: "THRISSUR";}
    100%{content: "IDUKKI";}
}




section .container{
    width: 100%;
    height: 50vh;
}


section .container .box1{
    /* width: 100%; */
    height: 50vh;
    border: 0.050rem solid rgb(117, 255, 175);
    float: left;
    background: #00b894;
}

section .container .box2{
    /* width: 100%; */
    height: 50vh;
    border: 0.050rem solid rgb(117, 255, 175);
    float: left;
    background: #00b894;
}

section .container .box3{
    /* width: 100%; */
    height: 50vh;
    border: 0.050rem solid rgb(117, 255, 175);
    float: left;
    background: #00b894;
}


section .container .sub1,.sub2,.sub3{
    width: 40px;
    height: 40px;
    background: white;
    margin: 70px;
    border-radius: 50%;
    float: left;
}

section .container .box1 .sub1 i{
    color: #00b894;
    margin: 8px;
    text-align: center;
    font-size: 30px;
}

section .container .box2 .sub2 i{
    color: #00b894;
    padding-top: 5px;
    padding-left: 2px;
    text-align: center;
    font-size: 28px;
}

section .container .box3 .sub3 i{
    color: #00b894;
    padding-left: 5px;
    padding-top: 6px;
    text-align: center;
    font-size: 28px;
}

section .container .box1 h4{
    margin-top: 110px;
    font-size: 20px;
    font-family:  'Signika Negative', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}
section .container .box2 h4{
    margin-top: 110px;
    font-size: 20px;
    font-family:  'Signika Negative', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

section .container .box3 h4{
    margin-top: 110px;
    font-size: 20px;
    font-family:  'Signika Negative', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

section .container .box1 #arrow{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fafffe;
    text-shadow: 2px 2px 6px black;
}

section .container .box2 #arrow{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fafffe;
    text-shadow: 2px 2px 6px black;
}

section .container .box3 #arrow{
    font-size: 30px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fafffe;
    text-shadow: 2px 2px 6px black;
}

section .container .box1 ul li{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: 2px 2px 6px black;
    color: #fafffe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section .container .box2 ul li{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: 2px 2px 6px black;
    color: #fafffe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section .container .box3 ul li{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 15px;
    text-shadow: 2px 2px 6px black;
    color: #fafffe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}